bank-ejb/src/wsdl/localhost_8080/ScoringFacadeService/ScoringFacade.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://scoring.bank.aos.vasekpurchart.cz/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://scoring.bank.aos.vasekpurchart.cz/">

<xs:element name="getScoring" type="tns:getScoring"/>

<xs:element name="getScoringResponse" type="tns:getScoringResponse"/>

<xs:complexType name="getScoring">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getScoringResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>
</xs:schema>