bank-ejb/src/wsdl/localhost_8080/FileServerFacadeService/FileServerFacade.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://fileserver.bank.aos.vasekpurchart.cz/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://fileserver.bank.aos.vasekpurchart.cz/">

<xs:element name="InvalidAccountException" type="tns:InvalidAccountException"/>

<xs:element name="getAccountStatement" type="tns:getAccountStatement"/>

<xs:element name="getAccountStatementResponse" type="tns:getAccountStatementResponse"/>

<xs:complexType name="getAccountStatement">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccountStatementResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidAccountException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>