bank-ejb/src/wsdl/localhost_8080/ClearingCenterProxyService/ClearingCenterProxy.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://clearingcenterproxy.bank.aos.vasekpurchart.cz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://clearingcenterproxy.bank.aos.vasekpurchart.cz/" name="ClearingCenterProxyService">
<types>
<xsd:schema>
<xsd:import namespace="http://support.felk.cvut.cz/aos/sw/ClearingCenter/" schemaLocation="http://localhost:8080/ClearingCenterProxyService/ClearingCenterProxy?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://clearingcenterproxy.bank.aos.vasekpurchart.cz/" schemaLocation="http://localhost:8080/ClearingCenterProxyService/ClearingCenterProxy?xsd=2"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="RegisterException">
<part name="fault" element="tns:RegisterException"/>
</message>
<message name="getPaymentsResult">
<part name="parameters" element="tns:getPaymentsResult"/>
</message>
<message name="getPaymentsResultResponse">
<part name="parameters" element="tns:getPaymentsResultResponse"/>
</message>
<message name="GetPaymentsResultException">
<part name="fault" element="tns:GetPaymentsResultException"/>
</message>
<message name="setPaymentsResult">
<part name="parameters" element="tns:setPaymentsResult"/>
</message>
<message name="setPaymentsResultResponse">
<part name="parameters" element="tns:setPaymentsResultResponse"/>
</message>
<message name="SetPaymentsResultException">
<part name="fault" element="tns:SetPaymentsResultException"/>
</message>
<message name="fetchPayments">
<part name="parameters" element="tns:fetchPayments"/>
</message>
<message name="fetchPaymentsResponse">
<part name="parameters" element="tns:fetchPaymentsResponse"/>
</message>
<message name="FetchPaymentsException">
<part name="fault" element="tns:FetchPaymentsException"/>
</message>
<message name="sendPayments">
<part name="parameters" element="tns:sendPayments"/>
</message>
<message name="sendPaymentsResponse">
<part name="parameters" element="tns:sendPaymentsResponse"/>
</message>
<message name="SendPaymentsException">
<part name="fault" element="tns:SendPaymentsException"/>
</message>
<portType name="ClearingCenterProxyWS">
<operation name="register">
<input wsam:Action="http://clearingcenterproxy.bank.aos.vasekpurchart.cz/ClearingCenterProxyWS/registerRequest" message="tns:register"/>
<output wsam:Action="http://clearingcenterproxy.bank.aos.vasekpurchart.cz/ClearingCenterProxyWS/registerResponse" message="tns:registerResponse"/>
<fault message="tns:RegisterException" name="RegisterException" wsam:Action="http://clearingcenterproxy.bank.aos.vasekpurchart.cz/ClearingCenterProxyWS/register/Fault/RegisterException"/>
</operation>
<operation name="getPaymentsResult">
<input wsam:Action="http://clearingcenterproxy.bank.aos.vasekpurchart.cz/ClearingCenterProxyWS/getPaymentsResultRequest" message="tns:getPaymentsResult"/>
<output wsam:Action="http://clearingcenterproxy.bank.aos.vasekpurchart.cz/ClearingCenterProxyWS/getPaymentsResultResponse" message="tns:getPaymentsResultResponse"/>
<fault message="tns:GetPaymentsResultException" name="GetPaymentsResultException" wsam:Action="http://clearingcenterproxy.bank.aos.vasekpurchart.cz/ClearingCenterProxyWS/getPaymentsResult/Fault/GetPaymentsResultException"/>
</operation>
<operation name="setPaymentsResult">
<input wsam:Action="http://clearingcenterproxy.bank.aos.vasekpurchart.cz/ClearingCenterProxyWS/setPaymentsResultRequest" message="tns:setPaymentsResult"/>
<output wsam:Action="http://clearingcenterproxy.bank.aos.vasekpurchart.cz/ClearingCenterProxyWS/setPaymentsResultResponse" message="tns:setPaymentsResultResponse"/>
<fault message="tns:SetPaymentsResultException" name="SetPaymentsResultException" wsam:Action="http://clearingcenterproxy.bank.aos.vasekpurchart.cz/ClearingCenterProxyWS/setPaymentsResult/Fault/SetPaymentsResultException"/>
</operation>
<operation name="fetchPayments">
<input wsam:Action="http://clearingcenterproxy.bank.aos.vasekpurchart.cz/ClearingCenterProxyWS/fetchPaymentsRequest" message="tns:fetchPayments"/>
<output wsam:Action="http://clearingcenterproxy.bank.aos.vasekpurchart.cz/ClearingCenterProxyWS/fetchPaymentsResponse" message="tns:fetchPaymentsResponse"/>
<fault message="tns:FetchPaymentsException" name="FetchPaymentsException" wsam:Action="http://clearingcenterproxy.bank.aos.vasekpurchart.cz/ClearingCenterProxyWS/fetchPayments/Fault/FetchPaymentsException"/>
</operation>
<operation name="sendPayments">
<input wsam:Action="http://clearingcenterproxy.bank.aos.vasekpurchart.cz/ClearingCenterProxyWS/sendPaymentsRequest" message="tns:sendPayments"/>
<output wsam:Action="http://clearingcenterproxy.bank.aos.vasekpurchart.cz/ClearingCenterProxyWS/sendPaymentsResponse" message="tns:sendPaymentsResponse"/>
<fault message="tns:SendPaymentsException" name="SendPaymentsException" wsam:Action="http://clearingcenterproxy.bank.aos.vasekpurchart.cz/ClearingCenterProxyWS/sendPayments/Fault/SendPaymentsException"/>
</operation>
</portType>
<binding name="ClearingCenterProxyPortBinding" type="tns:ClearingCenterProxyWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RegisterException">
<soap:fault name="RegisterException" use="literal"/>
</fault>
</operation>
<operation name="getPaymentsResult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GetPaymentsResultException">
<soap:fault name="GetPaymentsResultException" use="literal"/>
</fault>
</operation>
<operation name="setPaymentsResult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SetPaymentsResultException">
<soap:fault name="SetPaymentsResultException" use="literal"/>
</fault>
</operation>
<operation name="fetchPayments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FetchPaymentsException">
<soap:fault name="FetchPaymentsException" use="literal"/>
</fault>
</operation>
<operation name="sendPayments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SendPaymentsException">
<soap:fault name="SendPaymentsException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ClearingCenterProxyService">
<port name="ClearingCenterProxyPort" binding="tns:ClearingCenterProxyPortBinding">
<soap:address location="http://localhost:8080/ClearingCenterProxyService/ClearingCenterProxy"/>
</port>
</service>
</definitions>