bank-ejb/src/wsdl/localhost_8080/BackendFacadeService/BackendFacade.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://backend.bank.aos.vasekpurchart.cz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://backend.bank.aos.vasekpurchart.cz/" name="BackendFacadeService">
<types>
<xsd:schema>
<xsd:import namespace="http://backend.bank.aos.vasekpurchart.cz/" schemaLocation="http://localhost:8080/BackendFacadeService/BackendFacade?xsd=1"/>
</xsd:schema>
</types>
<message name="createAccount">
<part name="parameters" element="tns:createAccount"/>
</message>
<message name="createAccountResponse">
<part name="parameters" element="tns:createAccountResponse"/>
</message>
<message name="UnsupportedCurrencyException">
<part name="fault" element="tns:UnsupportedCurrencyException"/>
</message>
<message name="deleteAccount">
<part name="parameters" element="tns:deleteAccount"/>
</message>
<message name="deleteAccountResponse">
<part name="parameters" element="tns:deleteAccountResponse"/>
</message>
<message name="InvalidAccountException">
<part name="fault" element="tns:InvalidAccountException"/>
</message>
<message name="depositMoney">
<part name="parameters" element="tns:depositMoney"/>
</message>
<message name="depositMoneyResponse">
<part name="parameters" element="tns:depositMoneyResponse"/>
</message>
<message name="withdrawMoney">
<part name="parameters" element="tns:withdrawMoney"/>
</message>
<message name="withdrawMoneyResponse">
<part name="parameters" element="tns:withdrawMoneyResponse"/>
</message>
<message name="NotEnoughMoneyException">
<part name="fault" element="tns:NotEnoughMoneyException"/>
</message>
<message name="transferMoney">
<part name="parameters" element="tns:transferMoney"/>
</message>
<message name="transferMoneyResponse">
<part name="parameters" element="tns:transferMoneyResponse"/>
</message>
<message name="getCurrentBalance">
<part name="parameters" element="tns:getCurrentBalance"/>
</message>
<message name="getCurrentBalanceResponse">
<part name="parameters" element="tns:getCurrentBalanceResponse"/>
</message>
<message name="getLoan">
<part name="parameters" element="tns:getLoan"/>
</message>
<message name="getLoanResponse">
<part name="parameters" element="tns:getLoanResponse"/>
</message>
<message name="LowBonityException">
<part name="fault" element="tns:LowBonityException"/>
</message>
<message name="payLoan">
<part name="parameters" element="tns:payLoan"/>
</message>
<message name="payLoanResponse">
<part name="parameters" element="tns:payLoanResponse"/>
</message>
<portType name="BackendWS">
<operation name="createAccount">
<input wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/createAccountRequest" message="tns:createAccount"/>
<output wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/createAccountResponse" message="tns:createAccountResponse"/>
<fault message="tns:UnsupportedCurrencyException" name="UnsupportedCurrencyException" wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/createAccount/Fault/UnsupportedCurrencyException"/>
</operation>
<operation name="deleteAccount">
<input wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/deleteAccountRequest" message="tns:deleteAccount"/>
<output wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/deleteAccountResponse" message="tns:deleteAccountResponse"/>
<fault message="tns:InvalidAccountException" name="InvalidAccountException" wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/deleteAccount/Fault/InvalidAccountException"/>
</operation>
<operation name="depositMoney">
<input wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/depositMoneyRequest" message="tns:depositMoney"/>
<output wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/depositMoneyResponse" message="tns:depositMoneyResponse"/>
<fault message="tns:InvalidAccountException" name="InvalidAccountException" wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/depositMoney/Fault/InvalidAccountException"/>
<fault message="tns:UnsupportedCurrencyException" name="UnsupportedCurrencyException" wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/depositMoney/Fault/UnsupportedCurrencyException"/>
</operation>
<operation name="withdrawMoney">
<input wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/withdrawMoneyRequest" message="tns:withdrawMoney"/>
<output wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/withdrawMoneyResponse" message="tns:withdrawMoneyResponse"/>
<fault message="tns:InvalidAccountException" name="InvalidAccountException" wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/withdrawMoney/Fault/InvalidAccountException"/>
<fault message="tns:UnsupportedCurrencyException" name="UnsupportedCurrencyException" wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/withdrawMoney/Fault/UnsupportedCurrencyException"/>
<fault message="tns:NotEnoughMoneyException" name="NotEnoughMoneyException" wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/withdrawMoney/Fault/NotEnoughMoneyException"/>
</operation>
<operation name="transferMoney">
<input wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/transferMoneyRequest" message="tns:transferMoney"/>
<output wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/transferMoneyResponse" message="tns:transferMoneyResponse"/>
<fault message="tns:InvalidAccountException" name="InvalidAccountException" wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/transferMoney/Fault/InvalidAccountException"/>
<fault message="tns:UnsupportedCurrencyException" name="UnsupportedCurrencyException" wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/transferMoney/Fault/UnsupportedCurrencyException"/>
<fault message="tns:NotEnoughMoneyException" name="NotEnoughMoneyException" wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/transferMoney/Fault/NotEnoughMoneyException"/>
</operation>
<operation name="getCurrentBalance">
<input wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/getCurrentBalanceRequest" message="tns:getCurrentBalance"/>
<output wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/getCurrentBalanceResponse" message="tns:getCurrentBalanceResponse"/>
<fault message="tns:InvalidAccountException" name="InvalidAccountException" wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/getCurrentBalance/Fault/InvalidAccountException"/>
<fault message="tns:UnsupportedCurrencyException" name="UnsupportedCurrencyException" wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/getCurrentBalance/Fault/UnsupportedCurrencyException"/>
</operation>
<operation name="getLoan">
<input wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/getLoanRequest" message="tns:getLoan"/>
<output wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/getLoanResponse" message="tns:getLoanResponse"/>
<fault message="tns:InvalidAccountException" name="InvalidAccountException" wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/getLoan/Fault/InvalidAccountException"/>
<fault message="tns:LowBonityException" name="LowBonityException" wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/getLoan/Fault/LowBonityException"/>
</operation>
<operation name="payLoan">
<input wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/payLoanRequest" message="tns:payLoan"/>
<output wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/payLoanResponse" message="tns:payLoanResponse"/>
<fault message="tns:InvalidAccountException" name="InvalidAccountException" wsam:Action="http://backend.bank.aos.vasekpurchart.cz/BackendWS/payLoan/Fault/InvalidAccountException"/>
</operation>
</portType>
<binding name="BackendFacadePortBinding" type="tns:BackendWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnsupportedCurrencyException">
<soap:fault name="UnsupportedCurrencyException" use="literal"/>
</fault>
</operation>
<operation name="deleteAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidAccountException">
<soap:fault name="InvalidAccountException" use="literal"/>
</fault>
</operation>
<operation name="depositMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidAccountException">
<soap:fault name="InvalidAccountException" use="literal"/>
</fault>
<fault name="UnsupportedCurrencyException">
<soap:fault name="UnsupportedCurrencyException" use="literal"/>
</fault>
</operation>
<operation name="withdrawMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidAccountException">
<soap:fault name="InvalidAccountException" use="literal"/>
</fault>
<fault name="UnsupportedCurrencyException">
<soap:fault name="UnsupportedCurrencyException" use="literal"/>
</fault>
<fault name="NotEnoughMoneyException">
<soap:fault name="NotEnoughMoneyException" use="literal"/>
</fault>
</operation>
<operation name="transferMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidAccountException">
<soap:fault name="InvalidAccountException" use="literal"/>
</fault>
<fault name="UnsupportedCurrencyException">
<soap:fault name="UnsupportedCurrencyException" use="literal"/>
</fault>
<fault name="NotEnoughMoneyException">
<soap:fault name="NotEnoughMoneyException" use="literal"/>
</fault>
</operation>
<operation name="getCurrentBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidAccountException">
<soap:fault name="InvalidAccountException" use="literal"/>
</fault>
<fault name="UnsupportedCurrencyException">
<soap:fault name="UnsupportedCurrencyException" use="literal"/>
</fault>
</operation>
<operation name="getLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidAccountException">
<soap:fault name="InvalidAccountException" use="literal"/>
</fault>
<fault name="LowBonityException">
<soap:fault name="LowBonityException" use="literal"/>
</fault>
</operation>
<operation name="payLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidAccountException">
<soap:fault name="InvalidAccountException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BackendFacadeService">
<port name="BackendFacadePort" binding="tns:BackendFacadePortBinding">
<soap:address location="http://localhost:8080/BackendFacadeService/BackendFacade"/>
</port>
</service>
</definitions>