bank-ejb/src/wsdl/localhost_8080/BackendFacadeService/BackendFacade.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://backend.bank.aos.vasekpurchart.cz/" xmlns:ns1="http://support.felk.cvut.cz/aos/sw/ClearingCenter/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://backend.bank.aos.vasekpurchart.cz/">

<xs:import namespace="http://support.felk.cvut.cz/aos/sw/ClearingCenter/" schemaLocation="http://localhost:8080/BackendFacadeService/BackendFacade?xsd=1"/>

<xs:element name="InvalidAccountException" type="tns:InvalidAccountException"/>

<xs:element name="LowBonityException" type="tns:LowBonityException"/>

<xs:element name="NotEnoughMoneyException" type="tns:NotEnoughMoneyException"/>

<xs:element name="UnsupportedCurrencyException" type="tns:UnsupportedCurrencyException"/>

<xs:element name="createAccount" type="tns:createAccount"/>

<xs:element name="createAccountResponse" type="tns:createAccountResponse"/>

<xs:element name="deleteAccount" type="tns:deleteAccount"/>

<xs:element name="deleteAccountResponse" type="tns:deleteAccountResponse"/>

<xs:element name="depositMoney" type="tns:depositMoney"/>

<xs:element name="depositMoneyResponse" type="tns:depositMoneyResponse"/>

<xs:element name="getCurrentBalance" type="tns:getCurrentBalance"/>

<xs:element name="getCurrentBalanceResponse" type="tns:getCurrentBalanceResponse"/>

<xs:element name="getLoan" type="tns:getLoan"/>

<xs:element name="getLoanResponse" type="tns:getLoanResponse"/>

<xs:element name="getTransfers" type="tns:getTransfers"/>

<xs:element name="getTransfersResponse" type="tns:getTransfersResponse"/>

<xs:element name="payLoan" type="tns:payLoan"/>

<xs:element name="payLoanResponse" type="tns:payLoanResponse"/>

<xs:element name="transferMoney" type="tns:transferMoney"/>

<xs:element name="transferMoneyResponse" type="tns:transferMoneyResponse"/>

<xs:element name="withdrawMoney" type="tns:withdrawMoney"/>

<xs:element name="withdrawMoneyResponse" type="tns:withdrawMoneyResponse"/>

<xs:complexType name="getCurrentBalance">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCurrentBalanceResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidAccountException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UnsupportedCurrencyException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="withdrawMoney">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:decimal" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="withdrawMoneyResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NotEnoughMoneyException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payLoan">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payLoanResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAccount">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAccountResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransfers">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransfersResponse">
<xs:sequence>
<xs:element name="return" type="tns:transfer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transfer">
<xs:complexContent>
<xs:extension base="tns:simpleEntity">
<xs:sequence>
<xs:element name="accountNumber" type="xs:int"/>
<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="bankCode" type="xs:string" minOccurs="0"/>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
<xs:element name="paymentResult" type="ns1:paymentResult" minOccurs="0"/>
<xs:element name="remoteAccountNumber" type="xs:int"/>
<xs:element name="remoteBankCode" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="tns:type" minOccurs="0"/>
<xs:element name="universalId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="simpleEntity" abstract="true">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transferMoney">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:decimal" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transferMoneyResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="depositMoney">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:decimal" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depositMoneyResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAccount">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAccountResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLoan">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLoanResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="LowBonityException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="type">
<xs:restriction base="xs:string">
<xs:enumeration value="CREDIT"/>
<xs:enumeration value="DEBET"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>